body {
    background-color: #bda9de;
    color: white;
    font-family: "Lucida Console";
    margin: 0 auto;
    padding: 0;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin: 0.1em;
}

#buttons {
    margin: auto;
    width: 50%;
}

#button1, #button2 {
    background-color: #9861f2;
    color: #391e66;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

#slide {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: dotted;
    padding: 0.5em;
}