h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #4e5250;
}

body {
    background-color: #76b09b;
    color: black;
    font-family: 'Franklin Gothic';
    font-size: 14px;
}

#nav, #sign {
    text-align: center;
    line-height: 2px;
    padding: 4px;
    clear: both;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #b1debd;
}

table caption {
    font-size: 16px;
}

td, th {
    text-align: center;
    height: 24px;
    color: #102b47;
    padding: 6px;
    border: 1px solid black;
    border-collapse: collapse;
}

a:link {
    color: #065cd6;
}

a:hover {
    color: #ff8800;
}

a:visited {
    color: forestgreen;
}

#signname {
    color: #5b46b8;
    text-decoration: none;
}
