body {
    background-color: lightpink;
    color: black;
    font-family: Cochin;
    margin: 22pt;
    margin-left: 40pt;
    margin-right: 40pt;
    font-size: 12pt;
}

#top {
    font-size: 18pt;
    text-align: center;
}

h3 {
    color: #53428f;
    font-size: 16pt;
    text-decoration: underline;
}

#q5, #q6 {
    margin: 2px;
    height: 13px;
}

#submit, #reset {
    margin-top: 2em;
    background-color: #b4b4b8;
    color: #0a103d;
    font-weight: bold;
}
