body {
    background: repeating-linear-gradient( to right,#f6ba52,#f6ba52 30px,#ffd180 30px,#ffd180 60px );
    color: black;
    font-family: 'Franklin Gothic';
    margin: 16pt;
    font-size: 14px;
}

#header {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #6e5323;
}

#left {
    float: left;
    width: 50%;
    margin: 0;
    padding: 4em;
    line-height: 24px;
}

a:hover {
    color: black;
    background-color: yellow;
}

#right {
    margin: 0;
    padding: 4em;
    line-height: 24px;
}

#notice {
    clear: both;
    padding-left: 4em;
    line-height: 20px;
}

table tr td {
    color: #453517;
}

#submit, #reset {
    background-color: #b57602;
    color: #f5d190;
    font-weight: 700;
    margin-top: 8px;
}